includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests
    level: 5
    ignoreErrors:
        - '#Unsafe usage of new static#'
